.navbar {
  width: 100%;
  height: 5em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  /* margin: 20px 0px; */
  gap: 20em;
  position: fixed;
  top:0;
  z-index: 9999;
  background-color: #fff;
}

.navbar-h1{
  font-weight: bold;
}

.logo {
  height: 10em;
  width: 10em;
}

.logo img {
  height: 100%;
  width: 100%;
}

.hello{
  position: absolute;
  top:0;
  width: 100vw;
  right: 0;
  z-index: 999;
}

.fullnav-mob {
  z-index: -1;
  position: absolute;
  top: -1.25em;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  background-color: #242424;
  padding: 5em 0px;
  gap:10px;
  height: 100vh;
}


.list {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.list li {
  padding: 10px;
  font-size: larger;
  font-family: "Nunito", sans-serif;
}

.link {
  text-decoration: none;
  color: rgb(126, 125, 125);
}

.link:hover,
.active {
  color: #d0cbcb;
}

.auth-btns {
  display: flex;
  gap: 20px;
}

.auth-btns button {
  border: 1px solid rgb(191, 187, 187);
  border-radius: 15px;
  padding: 6px 10px;
  font-size: medium;
  background-color: #242424;
}

/* burger */

/* .ham {
  position: absolute;
  top: -0.3em;
  right: 0.5em;
}

.hamburger {
  cursor: pointer;
  user-select: none;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  height: 3em;
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: rgb(161, 156, 156);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1.5;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
              stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
  transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
} */

/* .ham{
  position: absolute;
  top: -0.3em;
  right: 0.5em;
} */

.burger {
  position: absolute;
  top: 0.2em;
  right: 0.8em;
  width: 40px;
  height: 30px;
  background: transparent;
  cursor: pointer;
  display: block;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: black;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 5px;
  background: #fff;
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 28px;
  left: 5px;
  background: #fff;
}

@media only screen and (max-width: 768px) {
  .navbar {
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
  }

  /* .logo {
    position: absolute;
    left: 1em;
  } */

  .navbar-h1{
    position: absolute;
    left: 0.5em;
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin-top: 5em;
  }
}