.center-div {
  margin-top: 6em;
  margin-bottom: 3em;
}

.filter-part {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.each-filter {
  width: 12em;
  background-color: rgb(7, 197, 197);
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  padding: 1em;
  transition: all 0.5s ease;
}

.each-filter:hover,
.each-center:hover {
  transform: scale(1.05);
}

.each-filter img {
  height: 50%;
  width: 50%;
}

.each-center-part {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin: 2em 0em;
}

.each-center {
  background-color: #00b4d8;
  color: #fff;
  width: 22em;
  height: 20em;
  padding: 1em;
  border-radius: 15px;
  transition: all 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;  
}

.each-center img {
  width: 18px;
}

@media only screen and (max-width: 1025px) {
  .filter-part {
    height: 11em;
    overflow: scroll;
  }

  .each-filter {
    width: 11em;
  }

  .each-center-part {
    height: 55vh;
    overflow: scroll;
  }

  .each-center {
    height: auto;
  }

  .each-filter:hover,
  .each-center:hover {
    transform: none
  }

  .each-center img {
    width: 16px;
  }
}